<html>
<body>
<div style="width: 100%; height: 100%; display: flex; position: relative;">
    <form action="/book" method="post" style="position: absolute;  top: 30%;  left: 45%;">
      <label>Title: </label>
      <br>
      <input style="margin-top: 5px;" type="text" id="title" name="title">
      <br>
      <label>Author: </label>
      <br>
      <input style="margin-top: 5px;" type="text" id="author" name="author">
      <br>
      <label>Synopsis: </label>
      <br>
      <textarea style="width: 100%; height: 100px;margin-top: 5px; overflow: auto" type="text" id="synopsis" name="synopsis"></textarea>
      <br>
      <label>Publisher: </label>
      <br>
      <input style="margin-top: 5px;" type="text" id="publisher" name="publisher">
      <br>
      <label>Publish Year: </label>
      <br>
      <input style="margin-top: 5px;" type="number" id="publishYear" name="publishYear">
      <br>
      <button style="margin-top: 10px;" type="submit"> Add Book</button>
    </form>
    <a href="/" style="position: absolute;  top: 5%;  left: 25%; text-decoration:none;">&#127968; Inicio</a>
</div>
</body>
</html>